/* Size custom label inputs */
.pretty-urls-input[type="text"] {
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 6em;
}
/* Pattern input uses monospace font */
.pretty-urls-pattern-input[type="text"] {
	font-family: var(--font-monospace);
}

.pretty-urls-rule-info {
	flex-grow: 0;
}
